

/******** Purchase order Line ********/

.resizeField th[data-id="product_id"]{
    width: 20%;
}

.resizeField th[data-id="product_uom"]{
    width: 7%;
}

.resizeField th[data-id="new_quantity"]{
    width: 6%;
}

.resizeField th[data-id="free_quantity"]{
    width: 6%;
}

.resizeField th[data-id="new_qty_invoiced"]{
    width: 5%;
}

.resizeField th[data-id="new_weight"]{
    width: 6%;
}

.resizeField th[data-id="new_price"]{
    width: 6%;
}

.resizeField th[data-id="product_qty"]{
    width: 7%;
}

.resizeField th[data-id="price_unit"]{
    width: 7%;
}

.resizeField th[data-id="price_subtotal"]{
    width: 7%;
}

.resizeField th[data-id="taxes_id"]{
    width: 6%;
}

.resizeField th[data-id="sequence"]{
    width: 5%;
}

.resizeField th[data-id="new_price_total"]{
    width: 6%;
}

.resizeField th[data-id="tax_amount"]{
    width: 7%;
}