

.resizeField th[data-id="min_price"]{
    width: 10%;
}

.resizeField th[data-id="max_price"]{
    width: 10%;
}

.resizeField th[data-id="all_warehouses"]{
    width: 10%;
}

.resizeField th[data-id="packaging_type_id"]{
    width: 20%;
}



