

/******** Sale order Line ********/

.resizeSaleField th[data-id="product_id"]{
    width: 20%;
}

.resizeSaleField th[data-id="product_uom"]{
    width: 7%;
}

.resizeSaleField th[data-id="new_quantity"]{
    width: 6%;
}

.resizeSaleField th[data-id="free_quantity"]{
    width: 6%;
}

.resizeSaleField th[data-id="new_qty_invoiced"]{
    width: 5%;
}

.resizeSaleField th[data-id="new_weight"]{
    width: 6%;
}

.resizeSaleField th[data-id="new_price"]{
    width: 6%;
}
