

@media screen and (max-width: 399px) and (min-width: 120px) {
vendor_code_field {
        width:70%;
        display: none;
    }
}

td.o_td_label{
min-width:0px!important;
}

.total_class lable{


background:#000;


}


.resizeField th[data-field="unit_price"]{
    text-align: center;
}
/******** Vendors Invoice Line ********/

.resizeField th[data-id="product_code"]{
    width: 6%;
    
}

.resizeField th[data-id="product_id"]{
    width: 24%;
}

.resizeField th[data-id="product_qty"]{
    width: 6%;
    
}

.resizeField th[data-id="unit_price"]{
    width: 7%;
}

.resizeField th[data-id="uom_id"]{
    width: 10%;
}

.resizeField th[data-id="customer_code"]{
    width: 6%;
}

.resizeField th[data-id="customer_id"]{
    width: 24%;
}

.resizeField th[data-id="taxes_id"]{
    width: 5%;
}

.resizeField th[data-id="taxes_amount"]{
    width: 6%;
}

.resizeField th[data-id="total_price"]{
    width: 6%;
}

/******** Custody Invoice Line ********/
.resizeField th[data-id="custody_name"]{
    width: 14%;
}

.resizeField th[data-id="cash_amount"]{
    width: 13%;
}

.resizeField th[data-id="credit_amount"]{
    width: 13%;
}

.resizeField th[data-id="cash_account"]{
    width: 30%;
}

.resizeField th[data-id="credit_account"]{
    width: 30%;
}

/******** fields of manual invoice number noe line ********/
.resizeField th[data-id="number"]{
    width: 5%;
}

