/*.oe_form_sheet_width{
    .o_form_sheet_bg .o_form_sheet{
        margin: @padding-base-horizontal;
        max-width: none;
        width: auto;
    }
    .oe_chatter{
        max-width: none;
    }
}
*/
.o_form_view{
    .o_form_sheet_bg .o_form_sheet{
        margin: @padding-base-horizontal;
        max-width: none;
        width: auto;
    }
    .oe_chatter{
        max-width: none;
    }
}
