


/*List view color changes*/
table.o_list_view tbody tr:hover{
    background-color: #f09191;
}
table.o_list_view tbody tr:nth-of-type(2n+1):hover{
    background-color: #f09191 !important;
}
table.o_list_view tbody tr.row_selected{
    background-color: #7c7bad;
    color:#ffffff
}